.about {
    position: relative;
    &-title {
        text-align: center;
        margin: 0 0 40px;
        @include media-down(md) {
            margin: 0 0 24px;
        }
    }
    &-columns {
        gap: 126px;
        display: flex;
        margin-bottom: 56px;
        @include media-down(md) {
            flex-direction: column;
            margin-bottom: 32px;
            gap: 24px;
        }
    }
    &-column {
        flex: 1 1 50%;
        display: flex;
        align-items: center;
        gap: 12px;
        @include media-down(md) {
            gap: 7px;
            justify-content: center;
        }
        &-image {
            & img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
    .section-button {
        .btn-secondary {
            @include media-down(s) {
                width: 100%;
            }
        }
    }
}