.blog {
    &-page {
        margin-top: 50px;
        @include media-down(xs) {
            margin-top: 70px;
        }
        .posts {
            display: flex;
            flex-wrap: wrap;
            margin: -12px -12px 20px;
            &-card {
                flex: 0 1  25%;
                padding: 12px;
                display: flex;
                @include media-down(lsm) {
                    align-items: center;
                }
                &-article {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                .post-image {
                    display: flex;
                    width: 100%;
                    max-height: 188px;
                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }
                &-title {
                    margin: 8px 0 32px;
                    &-reference {
                        color: $text-color;
                        transition: color .3s;
                        &:hover {
                            color: $btn-color;
                        }
                    }
                }
            }
        }
        .input-search {
            border-radius: 100px;
        }
    }
    &-description {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}