#contactForm {
    padding: 88px 0;
}
.contacts {
    margin-top: 50px;
    position: relative;
    .decor-light {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .contact {
        &-general-description {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 32px;
        }
        &-form {
            display: block;
            max-width: 60%;
            margin: 0 auto;
            & .form-wrapper {
                margin-bottom: 16px;
                .wpcf7-form-control-wrap {
                    display: flex;
                }
                &-button { 
                    margin: 24px 0 0 0!important;
                }
            }
            form input, textarea {
                background-color: transparent;
                @include media-down(md) {
                    font-size: $btn-size;
                }
                @include media-down(s) {
                    font-size: $min-size;
                }
            }
            .wpcf7-textarea {
                width: 100%;
            }
            .btn-secondary {
                width: auto;
                display: flex;
                margin: 0;
                @include media-down(md) {
                    font-size: $btn-size;
                    padding: 10px 26px;
                }
                @include media-down(sm) {
                    margin-bottom: 20px;   
                }
                @include media-down(s) {
                    width: 100%;
                    justify-content: center;
                    font-size: $min-size;
                }
            }
            &-global {
                max-width: 100%;
            }
            .wpcf7-not-valid-tip {
                bottom: -19px;
            }
            & .form-wrapper {
                @include media-down(sm) {
                    margin-bottom: 20px;   
                }
                @include media-down(s) {
                    margin-bottom: 10px;
                }
            }
        } 
        &-description {
            text-align: center;
            color: $text-color;
            line-height: $sm-height;
            margin: 8px 0 0;
            a {
                color: $btn-color;
            }
            @include media-down(sm) {
                font-size: $btn-size;
                line-height: $base-height;
            }
            @include media-down(xs) {
                font-size: $min-size;
                line-height: $main;
                margin: 14px 0;
            }
        }
        &-title {
            margin-bottom: 8px;
            color: $text-color;
            @include media-down(md) {
                margin: 20px 0 14px;
            }
            @include media-down(sm) {
                font-size: $base-height;
            }
            @include media-down(xs) {
                font-size: $main;
            }
        }
    }
}