#contactForm {
    padding: 88px 0;
}
.contacts {
    margin-top: 50px;
    .contact {
        &-form {
            form input, textarea {
                background-color: transparent;
                @include media-down(md) {
                    font-size: $btn-size;
                }
                @include media-down(s) {
                    font-size: $min-size;
                }
            }
            .wpcf7-textarea {
                width: 100%;
            }
            .btn-secondary {
                width: auto;
                display: flex;
                margin: 0;
                @include media-down(md) {
                    font-size: $btn-size;
                    padding: 10px 26px;
                }
                @include media-down(sm) {
                    margin-bottom: 20px;   
                }
                @include media-down(s) {
                    width: 100%;
                    justify-content: center;
                    font-size: $min-size;
                }
            }
            &-global {
                max-width: 100%;
            }
            &-name {
                display: flex;
                gap: 10px;
                @include media-down(s) {
                    gap: 6px;
                }
                &-wrap {
                    width: 50%;
                    @include media-down(sm) {
                        margin-bottom: 20px;
                    }
                    @include media-down(s) {
                        margin-bottom: 10px;
                    }
                }
            }
            & .form-wrapper {
                @include media-down(sm) {
                    margin-bottom: 20px;   
                }
                @include media-down(s) {
                    margin-bottom: 10px;
                }
            }
        } 
        &-description {
            text-align: start;
            color: $text-color;
            line-height: $sm-height;
            a {
                color: $btn-color;
            }
            @include media-down(sm) {
                font-size: $btn-size;
                line-height: $base-height;
            }
            @include media-down(xs) {
                font-size: $min-size;
                line-height: $main;
                margin: 14px 0;
            }
        }
        &-title {
            color: $text-color;
            text-align: start;
            @include media-down(md) {
                margin: 20px 0 14px;
            }
            @include media-down(sm) {
                font-size: $base-height;
            }
            @include media-down(xs) {
                font-size: $main;
            }
        }
        &-checkbox {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
            @include media-down(md) {
                font-size: $btn-size;
            }
            @include media-down(s) {
                font-size: 11px;
                gap: 6px;
            }

            &-form {
                max-width: 20px;
                cursor: pointer;
                @include media-down(md) {
                    max-width: 16px;
                }
                @include media-down(s) {
                    max-width: 14px;
                }
            }
        }
    }
}