form {
    input {
        &::placeholder {
            color: $text-color;
        }
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid var(--txt-light-grren, #7A8279);
        width: 100%;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        min-height: 48px;
        &:focus::placeholder {
            color: transparent;
        }
    }
}
.wpcf7 {
    & form {
        .wpcf7-response-output {
            color: $white;
            font-size: $min-size;
            border: none;
            border-bottom: 1px solid;
            margin-bottom: 0;
            text-align: center;
        }
    }
    &-not-valid-tip {
        font-size: $min-size;
        display: flex;
        position: absolute;
    }
}
.form {
    &-global {
        margin: 0 auto;
        text-align: center;
        max-width: 586px;
    }
    &-title {
        color: $white;
        margin: 0 0 16px;
        @include media-down(md) {
            font-size: $sm-height;
            line-height: $main-height;
        }
        @include media-down(s) {
            text-align: left;
        }
    }
    &-description {
        color: $secondary-color;
        font-size: $sm-size;
        line-height: $sm-height;
        @include media-down(md) {
            font-size: $base-size;
            line-height: $base-height;
        }
        margin: 16px 0 40px;
        @include media-down(md) {
            margin-bottom: 24px;
        }
        @include media-down(s) {
            text-align: left;
        }
        p {
            margin: 0;
        }
    }
    &-wrapper {
        margin-bottom: 32px;
        position: relative;
        @include media-down(s) {
            margin-bottom: 24px;
        }
        &.form-wrapper-button {
            margin: 0;
            .btn-secondary {
                width: 100%;
                margin: 24px 0 0;
                @include media-down(s) {
                    margin: 8px 0 0;
                    font-size: $base-size;
                    line-height: $base-height;
                }
            }
        }
        p {
            margin: 0;
        }
    }
}