* {
	box-sizing: border-box;
}
.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: $base-size;
	color: $text-color;
	margin: 0;
    line-height: $base-height;
}
a,
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
img {
	max-width: 100%;
    display: block;
    height: auto;
}
h1, h2, h3 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
}
h1 {
	font-size: $h1-size;
	line-height: $h1-height;
}
h2 {
	font-size: $main-height;
	line-height: $title-height;
}
h3 {
    font-size: $mobile-card;
    line-height: $sm-height;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: $base-size;
    font-weight: 400;
    line-height: $base-height;
}
.wrapper {
    overflow: hidden;
}
.decor {
    background: linear-gradient(0deg, rgba(18, 18, 18, 0.00) 60.46%, rgba(18, 18, 18, 0.80) 100%), linear-gradient(0deg, rgba(18, 18, 18, 0.70) 0%, rgba(18, 18, 18, 0.70) 100%), url('../../assets/images/bgbg.png'), lightgray 50% / cover no-repeat;
}
.decor-light {
    position: absolute;
    inset: 0;
    z-index: -1;
}
.section {
    padding: 88px 0;
    @include media-down(md) {
        padding: 64px 0;
    }
    &-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.customize-support {
    padding-top: 32px;
    .header {
        top: 32px;
    }
}
.modal-open {
    .header {
        padding-right: 17px;
    }
}
