.hero {
    text-align: center;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &-title {
        text-transform: uppercase;
        color: $white;
        margin: 0 0 48px;
        font-size: clamp(41px, 5vw, $h1-size); 
        line-height: 1.2;
        @include media-down(sm) {
            text-align: start;
        }
        @include media-down(xs) {
            margin: 114px 0 48px;
            font-size: clamp(39px, 5vw, $h1-size); 
        }
    }
    .btn-secondary {
        @include media-down(sm) {
            width: 100%;
        }
    }

}