.hero {
    padding: 157px 0 297px;
    text-align: center;
    @include media-down(ms) {
        padding-bottom: 200px;
    }
    &-title {
        text-transform: uppercase;
        color: $white;
        margin: 0 0 48px;
        @include media-down(xl) {
            font-size: 60px;
        }
        @include media-down(ms) {
            font-size: 41px;
            line-height: 49px;
        }
        @include media-down(sm) {
            text-align: start;
        }
    }
    .btn-secondary {
        line-height: $base-height;
        @include media-down(sm) {
            width: 100%;
        }
    }

}