#mobile-nav {
    width: 40px;
    height: 16px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    @include media-down(s) {
        width: 24px;
        height: 32px;
    }
    & span {
        display: block;
        position: absolute;
        height: 2px;
        width: 80%;
        background: $white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        @include media-down(s) {
            height: 2px;
            width: 100%;
        }
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 8px;
            @include media-down(s) {
                top: 7px;
            }
        }
        &:nth-child(3) {
            top: 16px;
            @include media-down(s) {
                top: 14px;
            }
        }
    }
    &.open {
        & span:nth-child(1) {
            top: 7px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
        }
        & span:nth-child(2) {
            opacity: 0;
            left: -60px;
        }
        & span:nth-child(3) {
            top: 7px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }
    }
}
.header-mobile-menu {
        position: relative;
        z-index: 3;
        @include media-down(s) {
            max-height: 16px;
        }
    @include media-up(up) {
        display: none;
    }
}