.modal {
    &#modal-form {
        & .modal-content {
            @include media-down(ms) {
                padding: 20px 24px 16px;
            }
        }
        form input {
            @include media-down(ms) {
                min-height: auto;
                width: auto;
            }
            @include media-down(xs) {
                width: 100%;
                font-size: $btn-size;
            }
        }
        .form-wrapper {
            @include media-down(ms) {
                margin-bottom: 24px;
            }
            &.form-wrapper-button {
                & .btn-secondary {
                    margin-bottom: 24px;
                    @include media-down(ms) {
                        margin: 16px 0 0;
                        padding: 10px 24px;
                        font-size: $base-size;
                        line-height: $base-height;
                        width: 50%;
                    }
                    @include media-down(xs) {
                        width: 100%;
                    }
                }
            }
        }
    }
    &#modal-price {
        .modal-content {
            @include media-down(ms) {
                padding: 20px 16px;
            }
        }
        & .modal-dialog .body-price-table {
            @include media-down(ms) {
                font-size: $btn-size;
            }
        }
        .section-button {
            .btn-sm {
                @include media-down(ms) {
                    font-size: 16px;
                    line-height: 24px;
                    padding: 10px 23px;
                }
            }
        }
    }
    &-main {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-title {
        margin: 0 0 40px;
        color: $white;
        text-align: center;
        @include media-down(ms) {
            margin-bottom: 20px;
            font-size: $btn-height;
        }
        @include media-down(xs) {
            font-size: $main;
        }
    }
    &-content {
        text-align: center;
        padding: 40px 88px 16px;
        border-radius: 4px;
        max-width: 764px;
        max-height: 588px;
        & .screen-reader-response {
            display: none;
        }
        .modal {
            &-image {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-title-confirmation {
                margin: 16px 0 20px;
                color: $btn-color;
            }
            &-text {
                margin-bottom: 24px;
                color: $white;
                p {
                    margin: 0;
                }
            }
        }

    }
    &-body {
        padding: 0;
        table {
            thead {
                tr {
                    color: $secondary-color;
                }
            }
        }
    }
    .section-button {
        margin-top: 30px;
    }
    &.show .modal-dialog {
        min-width: 763px;
        @include media-down(ms) {
            min-width: 60%;
            justify-content: center;
        }
    }
    .modal-dialog { 
        .body-price {
            overflow-y: scroll;
            padding: 0;
            &-table {
                width: 100%;
                text-align: left;
                border-collapse: collapse;
                padding: 0;
                tr {
                    vertical-align: top;
                    border-bottom: 1px solid rgba(223, 218, 218, 0.30);
                    th {
                        padding-bottom: 8px;
                        color: $white;
                        &:nth-child(2) {
                            padding: 8px 20px;
                        }
                    }
                    td {
                        color: $white;
                        vertical-align: middle;
                        &:nth-child(2) {
                            padding: 8px 20px;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        &:first-child {
                            width: 20%;
                            @include media-down(ms) {
                                width: auto;
                            }
                        }
                    }
                }
            }
            &-information {
                color: $btn-color;
                text-align: center;
                font-size: $min-size;
                margin-bottom: 20px;
            }
        }
    }
}