.modal {
    --bs-modal-margin: 5%;
    &-main {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-title {
        margin-bottom: 40px;
        color: $white;
    }
    &-content {
        padding: 40px 88px;
        border-radius: 4px;
        max-width: 764px;
        max-height: 588px;
    }
    &-body {
        table {
            thead {
                tr {
                    color: $secondary-color;
                }
            }
        }
    }
    .section-button {
        margin: 30px 0 16px;
        display: flex;
        justify-content: center;
    }
    .btn-close {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 0;
        top: 10px;
    }
    .form-wrapper {
        margin-bottom: 32px;
        position: relative;
        @include media-down(s) {
            margin-bottom: 24px;
        }
        &.form-wrapper-button {
            margin: 0;
            .btn-secondary {
                width: 100%;
                margin: 24px 0 0;
                @include media-down(s) {
                    margin: 8px 0 0;
                    font-size: $base-size;
                    line-height: $base-height;
                }
            }
        }
        .label {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 16px;
            transform: translateY(-50%);
            @include media-down(s) {
                font-size: $btn-size;
            }
        }
        br {
            display: none;
        }
    }
    .wpcf7-form-control-wrap {
        position: relative;
    }
    &.show .modal-dialog {
        min-width: 763px;
        min-height: 408px;
    }
    .modal-dialog { 
        .body-price {
            min-height: 408px;
            overflow-y: scroll;
            padding: 0;
            &-table {
                width: 100%;
                text-align: left;
                border-collapse: collapse;
                padding: 0;
                tr {
                    vertical-align: top;
                    border-bottom: 1px solid rgba(223, 218, 218, 0.30);
                    th {
                        padding-bottom: 8px;
                        color: $white;
                    }
                    td {
                        color: $white;
                        padding: 8px 0;
                        &:first-child {
                            width: 20%;
                        }
                    }
                }
            }
        }
    }
}
  
  
  
