.products {
    position: relative;
    &-title {
        text-align: center;
        margin: 0 0 40px;
        @include media-down(lsm) {
            margin: 0 0 24px;
        }
        @include media-down(ms) {
            font-size: $sm-height;
            line-height: $main-height;
        }
    }
    .product {
        &-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px;
            margin: -12px;
            @include media-down(md) {
                margin: -8px;
            }
            @include media-down(ms) {
                gap: 16px;
            }
            &-column {
                max-width: 25%;
                padding: 12px;
                margin-bottom: 32px;
                @include media-down(md) {
                    max-width: 33.3%;
                    padding: 8px;
                }
                @include media-down(lsm) {
                    max-width: 50%;
                }
                @include media-down(xs) {
                    max-width: 100%;
                }
                .slick-dots {
                    display: none;
                }
            }
        }
        &-col {
            padding: 12px;
        }
        &-card {
            .card-title {
                color: $black;
                margin: 8px 0 0;
                text-align: center;
                background-color: transparent;
                border-radius: 4px;
                @include media-down(lsm) {
                    margin-bottom: 0;
                    font-size: $btn-size;
                    line-height: $mobile-card;
                }
            }
        }
    }
}