$primary-color:#121212;
$secondary-color:#DFDADA;
$white:#FFFFFF;
$btn-color:#9ACD32;
$text-color: #2D2C2A;
$black: #1B3019;
$dropdown: #7A8279;
$mobile-size: 10px;
$min-size: 12px;
$btn-size: 14px;
$base-size: 16px;
$sm-size: 18px;
$mobile-card: 20px;
$main: 22px;
$base-height: 24px;
$btn-height: 26px;
$sm-height: 28px;
$main-height: 32px;
$big-size: 40px;
$title-height: 48px;
$big-height: 52px;
$h1-size: 70px;
$h1-height: 80px;

$breakpoints: (
  xs: 460px,
  s: 540px,
  sm: 620px,
  lsm: 768px,
  ms: 890px,
  md: 960px,
  up: 961px,
  xl: 1044px,
  ml: 1120px,
  xxl: 1300px
);