$primary-color:#121212;
$secondary-color:#DFDADA;
$white:#FFFFFF;
$btn-color:#9ACD32;
$text-color: #2D2C2A;
$black: #1B3019;
$base-size: 16px;
$base-height: 24px;
$sm-size: 18px;
$sm-height: 28px;
$btn-height: 26px;
$main: 22px;
$main-height: 32px;
$big-size: 40px;
$big-height: 52px;
$min-size: 12px;
$min-height: 16px;
$btn-size: 14px;
$h1-size: 70px;
$h1-height: 80px;
$title-height: 48px;
$mobile-card: 20px;


$hover-color:#0C29DD;
$color-number: #005DEF;
$strong-text: #2332F3;
$h2-mobsize: 28px;
$h2-mobheight: 32px;
$hover-btn: #FFA901;
$colorText-secondary: #DAE1EE;
$body: #E5E5E5;
$header-top-bg:#021128;
$header-bg:#F3F6FB;
$border-color: #8192AC;
$dropdown: #8899B4;
$star-color: #FF8178;
$color-title: #05142C;
$mobile-size: 13px;
$mobile-height: 19px;
$mobile-big-size: 42px;
$mobile-big-height: 44px;


$breakpoints: (
  xs: 460px,
  s: 540px,
  sm: 620px,
  lsm: 768px,
  ms: 872px,
  md: 960px,
  up: 961px,
  xl: 1044px,
  ml: 1120px,
  xxl: 1300px
);